:root {
  --primary-background-color: #ffffff; /* Основной фон */
  --secondary-background-color: #f0f0f0; /* Дополнение к основному фону */
  --primary-text-color: #333333; /* Основной текст */
  --secondary-text-color: #777777; /* Второстепенный текст */
  --primary-button-color: #98FFDA; /* Цвет кнопки Войти */
  --secondary-button-color: #98d6ff; /* Цвет кнопки Регистрация */
  --highlight-color: #f7b3b3; /* Акцентный цвет  */
  --message-background-color: #E0F7FA; /* Фон для сообщений */
  --primary-border-color: #F0FFFA; /* Основной границ */
  --color-your-messages: #d2ffee; /* Цвет своих сообщений */
}



html * {
  font-family: Arial;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--primary-background-color);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.btn {
  padding: 14px 14px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}

