html {
    height: 100vh;
}

img {
    pointer-events: none
}

.connectify {
    display: flex;
    column-gap: 3%;
    height: 100vh;
    padding: 3%;
}

.connectify__chat-area-box {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 3%;
}

.room-info {
    width: 40%;
    height: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.room-info__head {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 20px 10px;
}

.room-info__header-wrapper {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.room-info__close {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
}

.room-info__close:hover {
    background-color: var(--secondary-background-color);
}

.room-info__close:active .room-info__close-svg {
    fill: var(--secondary-text-color);
}

.room-info__close-svg {
    fill: var(--primary-text-color);
}

.room-info__header {
    margin: 0;
}

.room-info__change {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
}

.room-info__change:hover {
    background-color: var(--secondary-background-color);
}

.room-info__change:active .room-info__change-svg {
    fill: var(--secondary-text-color);
    stroke: var(--secondary-text-color);
}

.room-info__change-svg {
    fill: var(--primary-text-color);
    stroke: var(--primary-text-color);
}

.room-info__avatar {
    width: 100%;
    display: block;
}

.room-info__text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.room-info__chat-name {
    margin: 0;
}

.room-info__about {
    margin: 0;
    padding: 0 20px;
}

.room-info__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 20px;
}

.room-info__bottom-header {
    margin: 0;
}

.room-info__user-list {
    margin: 0;
    list-style: none;
    padding: 0 10px;
}

.room-info__user-item {
    display: flex;
    column-gap: 20px;
}

.room-info__button-wrapper {
    display: flex;
    column-gap: 10px;
}

.room-info__button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
}

.--give-admin {
    background-color: green;
}

.--kick {
    background-color: red;
}

.change-room {
    width: 40%;
    height: 100%;
    padding: 20px 10px;
    background-color: rgb(186, 255, 196);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.change-room__head {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.change-room__back {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    display: flex;
    padding: 5px;
}

.change-room__back-svg {
    fill: var(--primary-text-color);
}

.change-room__heading {
    margin: 0;
}

.change-room__room-avatar-wrapper {
    display: flex;
}

.change-room__room-avatar {
    width: 100%;
}

.change-room__info-wraper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.change-room__info-input {
    min-width: 100px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--primary-border-color);
    font-size: 0.9rem;
    color: var(--primary-text-color);
    resize: none
}

.connectify__chat-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 3%;
    height: 100%;
}

.navigation-message {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background-color: var(--primary-background-color);
    border-radius: 5px;
}

.navigation-message__button-wrapper {
    display: flex;
    align-items: center;
    column-gap: 3%;
    height: 50px;
}

.navigation-message__button {
    cursor: pointer;
    width: 50%;
    border: 0;
    border-radius: 5px;
    color: var(--primary-text-color);
    font-size: 1em;
    padding: 6px;
}

.navigation-message__setting {
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 0;
    background-color: transparent;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navigation-message__setting:hover {
    background-color: var(--secondary-background-color);
}

.navigation-message__setting:active .navigation-message__setting-svg {
    stroke: var(--secondary-text-color);
}

.navigation-message__setting-svg {
    stroke: var(--primary-text-color);
    fill: transparent;
    transition:  stroke 0.1s ease-in-out;
}


.navigation-message__options {
    cursor: pointer;
    padding:0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 0;
    background-color: transparent;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navigation-message__options:hover {
    background-color: var(--secondary-background-color);
}

.navigation-message__options:active  .navigation-message__options-svg {
    stroke: var(--secondary-text-color);
}


.navigation-message__options-svg {
    stroke: var(--primary-text-color);
    transition: stroke 0.1s ease-in-out;
}

.navigation-message__search-input {
    flex-grow: 1;
    height: 30px;
    font-size: 1em;
}

.navigation-message__search-button {
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navigation-message__search-button:hover {
    background-color: var(--secondary-background-color);
}

.navigation-message__search-button:active .navigation-message__search-svg {
    stroke: var(--secondary-text-color);
}

.navigation-message__search-svg {
    stroke: var(--primary-text-color);
    fill: transparent;
    transition: stroke 0.1 ease-in-out;
}

.navigation-message__rooms-wrapper {
    padding: 5% 0;
    overflow-y: auto;
}

.list-massages {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.message-wrapper {
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    background-color: var(--primary-background-color);
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

.message-wrapper:hover {
    background-color: var(--secondary-background-color);
}

.message-wrapper--active {
    background-color: var(--secondary-button-color);
}

.message-wrapper--active:hover {
    background-color: var(--secondary-button-color);
}

.message-wrapper__logo {
    display: block;
    border-radius: 50%;
}

.message-wrapper__text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.message-wrapper__head {
    display: flex;
    justify-content: space-between;
}

.message-wrapper__heading {
    font-size: 1em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-wrapper__time {
    color: var(--secondary-text-color);
    font-size: 0.75em;
}

.message-wrapper__footer {
    max-width: 100%;
}

.message-wrapper__text {
    margin: 0;
    color: var(--secondary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-wrapper__user-name {
    color: var(--primary-text-color);
}

.--create-chat {
    background-color: var(--secondary-button-color);
}

.--add-chat {
    background-color: var(--primary-button-color);
}

.chat-form {
    flex-grow: 1;
    display: flex;                 
    align-items: center;
}

.chat-form__form {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: 100%;
    background-color: var(--secondary-background-color);
}

.chat-form__input {
    min-height: 30px;
    height: 7%;
    padding: 10px 5px;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    color: var(--primary-text-color);
    font-size: 1em;
}

.chat-form__button {
    cursor: pointer;
    padding: 10px 5px;
    border: 0;
    background-color: var(--secondary-button-color);
    border-radius: 5px;
    color: var(--primary-text-color);
    font-size: 1em;
}

.--cancellation {
    background-color: var(--highlight-color);
}

.--add-button {
    background-color: var(--primary-button-color);
}

.messages-area {
    flex-grow: 1;
    background-color: var(--message-background-color);
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.messages-area__search-wrapper {
    display: flex;
    flex-grow: 0.8;
    column-gap: 10px;
}

.navigation-arrows__wrapper {
    display: flex;
    column-gap: 10px;
    fill: var(--primary-text-color);
}

.messages-area__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages-area__head {
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    z-index: 1;
    background-color: var(--primary-background-color);
    border: 1px solid var(--secondary-background-color);
}

.messages-area__number-users {
    color: var(--secondary-text-color);
    font-size: 0.9em;
}

.messages-area__logo {
    border-radius: 50%;
}

.messages-area__heading {
    font-size: 1.3em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messages-area__option {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 0;
    width: 42px;
    z-index: 5;
    transition: background-color 0.3s ease-in-out;
}

.messages-area__option:hover {
    background-color: var(--secondary-background-color);
}

.messages-area__option:active .messages-area__option-svg{
    fill: var(--secondary-text-color);
}

.messages-area__option-svg {
    fill: var(--primary-text-color);
}

.messages-area__content {
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.message__box {
    display: flex;
}

.message__box--you {
    justify-content: end;
}

.message__box--they {
    justify-content: start;
}


.message__wrapper {
    position: relative;
    background-color: var(--primary-background-color);
    width: fit-content;
    max-width: 450px;
    padding: 5px 8px;
}

.message__wrapper--you {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--color-your-messages);
}

.message__wrapper--they {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.message__wrapper--you:after {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--color-your-messages);
    width: 10px;
    height: 10px;
    right: -3px;
    bottom: 0px;
    transform:skew(30deg);
    border-top-left-radius: 20px;
}

.message__wrapper--they:after {
    content: '';
    position: absolute;
    display: block;
    background-color: white;
    width: 10px;
    height: 10px;
    left: -3px;
    bottom: 0px;
    transform:skew(-30deg);
    border-top-right-radius: 20px;
}

.message__head {
    display: flex;
    justify-content: space-between;
}

.message__user-avatar {
    display: block;
    border-radius: 50%;
}

.message__user-name {
    color: var(--primary-text-color);
}

.message__time {
    color: var(--secondary-text-color);
    font-size: 0.75em;
}

.message__text {
    margin: 0;
}

.send-message {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    height: auto;
}

.send-message__message-input {
    width: 80%;
    font-size: 1em;
}

.send-message__message-button {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: var(--secondary-button-color);
    color: var(--primary-text-color);
}

.user-setting__box {
    width: 70%;
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding: 30px;
}

.user-setting__user-avatar-wrapper {
    cursor: pointer;
    position: relative;
    width: 260px;
}

.user-setting__user-avatar {
    border-radius: 50%;
    display: block;
}

.user-setting__user-avatar-SVG-wrapper {
    opacity: 0;
    position: absolute;
    left: 105px;
    top: 180px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.user-setting__SVG {
    stroke: var(--primary-background-color);
    transition: stroke 0.1s ease-in-out;
}

.user-setting__user-avatar-wrapper:active .user-setting__SVG{
    stroke: var(--secondary-text-color);
}

.user-setting__user-avatar-SVG--open-SVG {
    opacity: 1;
}

.user-setting__user-avatar-cancel {
    padding: 14px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    width: 100%;
    background: var(--primary-button-color);
    color: var(--primary-text-color);
    margin-top: 5px;
}

.user-setting__info-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 5px;
}

.user-setting__input {
    min-width: 100px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--primary-border-color);
    font-size: 0.9rem;
    color: var(--primary-text-color);
    resize: none;
}

.user-setting__password-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.user-setting__button-wrapper {
    display: flex;
    justify-content: space-between;
}

.user-setting__button {
    cursor: pointer;
    width: 49%;
    border: 0;
    border-radius: 5px;
    color: var(--primary-text-color);
    font-size: 1em;
    padding: 6px;
}

.--save-setting {
    background-color: var(--primary-button-color);
}

.--cancel-setting {
    background-color: var(--highlight-color);
}

.creating-room__box {
    width: 70%;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    background-color: var(--secondary-background-color);
    padding: 30px;
}

.creating-room__heading {
    margin: 0;
}

.creating-room__avatar-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    width: 40%;
}

.creating-room__info-box {
    display: flex;
    width: 50%;
    flex-direction: column;
    row-gap: 15px;
}

.creating-room__info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.creating-room__input {
    min-width: 100px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--primary-border-color);
    font-size: 0.9rem;
    color: var(--primary-text-color);
    resize: none;
}

.creating-room__button-wrapper {
    display: flex;
    justify-content: space-between;
}

.creating-room__button {
    cursor: pointer;
    width: 49%;
    border: 0;
    border-radius: 5px;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 14px;
}

.--save-setting {
    background-color: var(--primary-button-color);
}

.--cancel-setting {
    background-color: var(--highlight-color);
}

.room-options__box {
    background-color: var(--primary-background-color);
    width: fit-content;
    padding: 10px;
    border-radius: 7px;
    position: absolute;
    right: 48px;
    z-index: 1;
}

.room-options__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.room-options__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 0.9em;
}

